*{
	padding: 0;
	margin: 0;
}
html{
	padding: 0;
	margin: 0;
}
body{
	text-align: center;
	margin: 0 auto;
	background: #E6E6FA;
	color:black;
	font-family: helvetica;
}
header{
	width: 100%;
	height: 50vh;
	background: #230029;
	color: white;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}
.particles-js-canvas-el{
	position: absolute;
	height: 50vh !important;
}
.date{
	padding-top:1.5%;
}
.time{
	padding-bottom:1.5%;
}
.content{
	padding-top: 2%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}
.dday{
	cursor: pointer;
	padding-bottom: .5%;
}
.day{
	width: 12rem;
	height: 2rem;
	border: none;
	outline: none;
	margin-bottom: .5%;
	color:black;
	box-shadow: 2px 2px 5px black,0 0 25px #230029;
	font-weight:bold;
}
.option button{
	width: 12rem;
	height: 3rem;
}
.content{
	text-align: center;
}
footer{
	padding-top: 5%;
}
@media(max-width: 425px){
	.date{
		padding-top: 9%;
	}
	.time{
		padding-bottom: 9%;
	}
	.head1{
		padding-bottom: 2%
	}
	.content{
		padding-top: 5%;
	}
	.dday{
		padding-bottom:3%;
	}
	footer{
		padding-top: 7%;
	}
}